body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 720px;
    background-color: aqua;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    background-image: url(../sources/slidebg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    min-width: 1200px;
    max-width: 1400px;
    height: 125px;
    margin: 0 auto 0 auto;
    background-color: black;
    float: right;
}

nav #logo {
    margin: 15px;
    float: left;
}

nav #logo img {
    height: 75px;
}


nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li {
    color: white;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    list-style: none;
    text-decoration: none;
    float: left;
    margin: 50px 20px 0px 20px;
}

nav ul li a {
    text-decoration: line-through;
    padding: 25px 20px 25px 0;
    color: white;
}

nav#menu_principal{
float: right;

}
#menu_principal li span{
font-family: Montserrat, sans-serif;
font-size: 11px;
color: rgb(134, 134, 134);
margin-right: 3px;
margin-top: 5px;
float: left;
}
#menu_principal li a {
color: white;
font-size: 14px;
text-transform: uppercase;
text-decoration: none;
transition: 1s;
}

#menu_principal li a:hover{
    color: #e7a920;
    transition: 1s;
    text-decoration: line-through;
}

section{
    background-image: url(../sources/Assets/divider-dark.png);
    width: 100%;
    height: 500px;
    background-repeat: repeat-x;
    padding-top: 100px;
}

.icons{
    width: 400px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.icons .icon img{
    width: 115px;
    padding: 10px;
}

.txt{
    width: 100%;
    height: 100px;
    float: left;
}
/*.........................Sem Internet.........................*/
.txt{
    width: 850px;
    margin: 0 auto;
}
.txt h6{
    font-size: 28px;
    font-weight: 300;
    width: 80%;
    display: inline-block;
    line-height: 40px;
    font-family: 'Roboto Slab', serif;/*Baixar a font do google font*/
    text-align: center;
    margin-left: 70%;
}

section2 .trabalhos{
    width: 100%;
    height: 100px;
}

/*Onde fica os textos acima das imagens*/
.main-head{
    width: 100%;
    height: 100px;
    text-align: center;/*alinha todos os textos ao centro, dentro dessa div*/
    padding: 0;
}
/*Texto "Nosso" em que muda a cor e o tamanho*/
.main-head h4{
    font-style: italic;/*Deixa o texto no formato itálico*/
    color: #e7a920;/*Define a cor do texto*/
    font-size: 50px;/*Define o tamanho da texto*/
    margin: 0 auto;/*Define uma margem para o texto*/
    font-family:'Courier New', Courier, monospace;/*add font*/
}

/*Texto "Projetos" que estaá como principal*/
.main-head h1{
    font-style: italic;/*Deixa o texto no formato itálico*/
    color: black;/*Define a cor do texto*/
    font-size: 100px;/*Define o tamanho da texto*/
    font-family:'Courier New', Courier, monospace;/*add font*/
    margin: 14px;/*Define uma margem para o texto*/
}

/*Fica uma espécie de subtítulo*/
.main-head span{
    font-style: italic;/*Deixa o texto no formato itálico*/
    font-size: 25px;/*Define o tamanho da texto*/
    font-family:'Courier New', Courier, monospace;/*add font*/
}

/*Fica a imagem (asset) */
.main-head img{
    width: 60px;
    margin: 14px;/*Define uma margem para o texto*/
}
/*.........................Trabalhos.........................*/

#Trabalhos{
background-color: blue;/*Define a cor de fundo de algo*/
}

